
.bean-home-tabs {
  padding: 0 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}


.modify-columns-icon {
  cursor: pointer;
}

.custom-tooltip {
  color: red;
}


.billingCard,
.totalworkForceCard1,
.invoiceStatusCard1 {
  min-width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


@media screen and (max-width: 1024px) {
  .billingCard,
  .totalworkForceCard1,
  .invoiceStatusCard1 {
    min-width: 200px;
    padding: 8px;
  }
}

@media screen and (max-width: 768px) {
  .billingCard,
  .totalworkForceCard1,
  .invoiceStatusCard1 {
    min-width: 100%;
    width: 100%;
  }
}


.invoiceCardTitle {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}


.employeeTableCard {
  width: 100%;
  transition: width 0.3s ease-in-out;
  height: 100%;
}


.workforce-c {
  flex-grow: 1;
  /* min-width: 68%; */
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .workforce-c {
    min-width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .workforce-c {
    min-width: 100%;
  }
}

.employeeTableCard .ant-card-body {
  height: 100%;
  display: flex;
  flex-direction: column; 
}

.ant-tabs-content.ant-tabs-content-top {
  height: 100%; 
  display: flex;
  flex-direction: column;
}

.ant-tabs-tabpane.ant-tabs-tabpane-active {
  height: 100%; 
  display: flex;
  flex-direction: column;
}
