.example-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#myGrid {
  flex: 1 1 0px;
  width: 100%;
}

.example-header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  margin-bottom: 5px;
}

.bean-home-tabs {
  padding: 0 10px;
  margin-bottom: 10px;
}

.modify-columns-icon {
  cursor: pointer;
}

.container {
  display: flex;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

input {
  padding: 8px;
  margin-bottom: 0px;
}

.custom-tooltip {
  color: red; /* Set the color to red */
}

.billingCard .ant-card-body {
  padding: 0px 15px 0px 0px !important;
}

.billingCard {
  margin-right: 15px;
  padding-bottom: 0px;
  height: 300px;
}

.totalworkForceCard1 {
  padding-left: 0px;
  padding-bottom: 8px;
  height: 300px;
  margin-right: 15px;
}
.invoiceStatusCard1 {
  padding: 0px 15px 0px 0px !important;
}
.invoiceStatusCard1 {
  margin-right: 15px;
  height: 300px;
  margin-right: 15px;
}
.pie-chart-container {
  /* width: 400px; */
  height: 400px;
}

.ag-grid-wrapper {
  width: 100%; /* Fixed width */
  height: 400px; /* Fixed height */
  overflow-x: auto; /* Enables horizontal scrolling */
  overflow-y: auto; /* Enables vertical scrolling */
}

.project-List-grid{
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure container takes full height */
}

.bean-home-tabs {
  height: 500px;
}

.ag-cell-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ag-header-cell-label {
  justify-content: center;
}
